.edit-btn {
  background-color: #eeac57 !important;
  color:white !important;
  width: 120px;
  height: 40px !important;
}
.delete-btn {
  background-color: #D75452 !important;
  color:white !important;
  width: 120px;
  height: 40px !important;
}